.home-page {
  margin: 0 1rem;
  padding: 1rem;
}
.filter-container {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid;
  margin-top: 1rem;
}

.filter-container p {
  margin-bottom: 0.1em;
  font-size: 1.2em;
  font-weight: 500;
}

.filter-container p::after {
    content: "";
    display: block;
    height: 3px;
     background-color: var(--primary-color);
     transform: scaleX(0);
     transform-origin: left;
     transition: transform 0.3s ease;
}

.filter-container p:hover::after{
    transform: scaleX(1);
  cursor: pointer;
}

.home-title {
  font-size: 1.5rem;
}

.filter-container p:hover {
  cursor: pointer;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 5s linear infinite;
  margin: 10em auto;
}


.input-text {
  width: 95%;
  border-bottom: 1px solid;
  margin: auto 1em;
  border: none;
}

.post-operations {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin:1em 1em auto 1em;
    border-top: 1px solid black;
    padding: 1em;
    color: var(--primary-color);
}

.btn-post{
    text-align: left;
    border: none;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
}

.disabled {
  text-align: left;
    border: none;
    border-radius: 5px;
    padding: 0.2em 0.5em;
    font-weight: 500;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: white;
  opacity: 0.6;
  cursor: not-allowed;
}

input[type="file"] {
  display: none !important;
}

.img-preview-home {
  margin: 1em auto auto auto;
  width: 90%;
}
.post-img-home {
  width: 90%;
  position: relative;
}

.close-icon {
  position: absolute;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
