.home-page {
    margin: 0 1rem;
    padding: 1rem;
}
.filter-container {
    display: flex;
    justify-content: space-evenly;    
    border-bottom: 1px solid;
    margin-top: 1rem;
}

.filter-container p {
    margin-bottom: 0;
    font-size:1.2em;
    font-weight: 500;
}

.home-title {
    font-size: 1.5rem;
}