.header-title {
    font-weight: bold;
    font-size: 2rem;
    font-family: 'Courgette', cursive;
    color: var(--primary-color);
}

.header-container{
    border-bottom: 1px solid;
    border-color: var(--secondary-color);
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    background-color: white
}

.me-2 {
    border-color: var(--secondary-color);
}