.navbar-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    position: fixed;
    left: 3em;
}

.tabs {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.2em;
    margin-top: 0.7em;
}

.link {
    text-decoration: none;
    color: black;
}

.link::after {
    content: "";
    display: block;
    height: 3px;
     background-color: var(--primary-color);
     transform: scaleX(0);
     transform-origin: left;
     transition: transform 0.3s ease;
}

.link:hover::after{
    transform: scaleX(1);
}

.tabs:hover {
    font-weight: bold;
    cursor: pointer;
}
.post-btn {
    text-align: left;
    display: block;
    border-radius: 5px;
    padding: 0.2em;
    font-size: 1.3rem;
    font-weight: 500;
    color: white;
    background-color: var(--primary-color);
    margin-top: 0.7em;
}

.post-btn :hover{
    font-weight: bold;
    cursor: pointer;
    font-weight: bold;
}
.btn-post:hover{
    font-weight: bold;
    cursor: pointer;
    background-color: var(--primary-color);
    /* transition: 0.7s; */
}

.new-post {
    background-color: white;
}

.modal-content-1 {
    background-color: transparent;
}

.close-icon-modal {
    position: absolute;
}

.img-preview-modal {
    width: 90%;
    margin-top: 1em;
}

.new-post-modal{
    display: flex;
    width: 100%;
}